*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.jks
upload-keystore.jks
base64.txt
app/keystore.jks
app/base64.txt
.kotlin
.idea/
